doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='x-ua-compatible', content='ie=edge')

		title Flappy Bird Clone - Landing Page

		meta(name='description', content='Flappy Bird Clone by Andy Pyle')
		meta(name='viewport', content='width=device-width, initial-scale=1')

		link(rel='shortcut icon', href='/favicon.ico')
		link(rel='apple-touch-icon', href='apple-touch-icon.png')

		link(rel='stylesheet', href='styles/style.min.css')

	body
		header
			.brand
				h1 Awesome

			nav
				ul.navigation
					li
						a(href='#') home
					li
						a(href='#') about
					li
						a(href='#') contact

		section.introduction
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit.

		section.features
			ul
				li
					img(src='#')
					h2 It does this.
					p Lorem ipsum dolor sit amet.

				li
					img(src='#')
					h2 It also does magic.
					p Lorem ipsum amet sit dolor. Magic.

				li
					img(src='#')
					h2 It's actually a powerful wizard.
					p Ipsum sit lorem amet.

		section.callToAction
			a(href='#', target='_BLANK') Play now!

		footer
			p Social share buttons.
			span Some more stuff for the footer.

